* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}
h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
}
h1 span {
    background-color: whitesmoke;
    padding: 0 15px;
}
.img-gallery {
    height: 440px;
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    overflow-y: scroll;
}
img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.fotoSeleccionada:hover {
    transform: scale(1.2);
}
.fotoGrande {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0 , .4);
    top: 0;
    z-index: 900;
    position: absolute;
    display: none;
}
.imagenGrande {
    height: 500px;
    width: 50%;
    margin: 10px auto;
}
.block {
    display: block;
}
.equis {
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}
.divImg {
    display: grid;
    place-items: center;
}